@font-face {
	font-family: 'Prosto One';
	src: url('~/assets/fonts/ProstoOne.woff2') format('woff2'), url('~/assets/fonts/ProstoOne.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Prosto';
	src: url('~/assets/fonts/Prosto.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}

