@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~/assets/scss/fonts.scss';


h1, h2, h3, h4, h5, h6, dd {
    font-family: Prosto One;
}

html, body {
    scroll-padding-top: 1.25rem;
    background-color: #000;
    color: #fff;
    font-family: Prosto;
    scroll-behavior: smooth;
    outline: none;
}